@use "../../styles/globals/variables" as v;
@use "../../styles/globals/mixins" as m;

.selling-points {
  padding: var(--sp-xsm) 0;

  $parent: &;

  &__wrapper {
    @include m.flex-center;
    flex-direction: column;
    gap: var(--sp-xsm);

    @media (min-width: v.$ldpi) {
      padding: var(--sp-sm);
    }
  }

  &__title {
    @include m.title();
    text-align: center;
  }

  &__separator {
    max-width: 70%;
    margin-bottom: var(--sp-xsm);
  }

  &__grid {
    @media (min-width: v.$ldpi) {
      width: 100%;
      padding: var(--sp-xsm);
      display: flex !important;
      align-items: stretch;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: var(--sp-xsm);

      .item-card {
        min-width: 28rem;
        max-width: 40.8rem;
        flex: 1 0 calc((100% / 3) - (var(--sp-xsm) * 2 / 3));
      }
    }
  }

  &__carousel {
    width: 100%;

    .item-card {
      padding: 0 calc(var(--sp-xsm) / 2);
    }
  }

  &__arrows {
    margin-top: var(--sp-xsm);
  }
}

.item-card {
  height: auto;

  &__icon {
    width: 64px;
    height: 64px;
    margin-right: 8px;
    display: block;
    svg {
      width: 100%;
      height: 100%;
    }
    path {
      stroke-width: 2px;
      stroke: rgb(var(--tertiary));
      fill: transparent;
    }
  }

  &__inner {
    width: 100%;
    height: 100%;
    padding: var(--sp-sm);
    background-color: rgb(var(--secondary-light));
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: var(--sp-xsm);

    @media (min-width: v.$tablet) {
      padding: var(--sp-xsm);
    }

    @media (min-width: v.$ldpi) {
      padding: var(--sp-sm);
    }
  }

  &__title {
    flex: 0 0 calc(100% - 72px);
    @include m.title(null, 2.4rem, 2.5vw, 3.2rem);
  }

  &__description {
    align-self: flex-start;
  }
}
