@use "globals/variables" as v;
@use "globals/mixins" as m;

.hero {
  min-height: 35rem;
  padding: 15rem 0 var(--sp-xsm);

  $hero: &;

  @media (min-width: v.$tablet) {
    padding: 26rem 0 var(--sp-xsm);
  }

  @media (min-width: v.$mdpi) {
    padding: 14rem 0 var(--sp-xsm);
  }

  .content-box {
    padding: var(--sp-xsm);
    background-color: rgb(var(--primary));

    &__inner {
      padding: var(--sp-xsm);
      @include m.flex-center;
      flex-direction: column;
      gap: var(--sp-xsm);

      @media (min-width: v.$ldpi) {
        padding: var(--sp-sm);
        gap: var(--sp-sm);
      }
    }

    &__tagline {
      margin: 0;
      text-transform: uppercase;
      font-family: var(--font-sans);
      font-size: clamp(1.4rem, 1.7vw, 1.6rem);
      letter-spacing: 3px;
      line-height: 1.5;
      color: rgb(var(--secondary));
    }

    &__title {
      margin: 0;
      @include m.title(rgb(var(--secondary)), 4rem, 6.5vw, 7rem, null, 1);
    }

    &__btn {
      width: 100%;
      @include m.flex-center;
      flex-wrap: nowrap;
      gap: var(--sp-xsm);

      &::after,
      &::before {
        content: "";
        height: 1px;
        background-color: rgb(var(--tertiary));
        display: block;
        flex: 1;
      }
    }
  }

  &__wrapper {
    @include m.flex-center;
    flex-wrap: wrap;
    gap: var(--sp-xsm);
  }

  &__content,
  &__side-portrait {
    min-width: 280px;
  }

  &__content {
    padding: var(--sp-sm);
    @include m.flex-center;
    flex: 1 0 calc(52% - (var(--sp-xsm) / 2));
    flex-direction: column;
    gap: var(--sp-xsm);

    @media (min-width: v.$tablet) {
      max-width: 70%;
    }
  }

  &__badges {
    width: 100%;
    margin-top: var(--sp-sm);
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp-sm);
    align-items: center;
    justify-content: space-evenly;

    picture {
      width: 120px;
      height: 120px;
      display: flex;

      @media (min-width: v.$ldpi) {
        width: 180px;
        height: 180px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__side-portrait {
    width: 100%;
    height: 46rem;
    max-height: 100%;
    flex: 1 0 calc(48% - (var(--sp-xsm) / 2));
    display: block;
    align-self: flex-end;

    @media (min-width: v.$tablet) {
      height: 56rem;
    }

    @media (min-width: v.$ldpi) {
      height: 86rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: bottom center;
    }
  }

  &__title {
    margin: 0;
    @include m.title(rgb(var(--secondary)), 4rem, 2.5vw, 4.8rem);
  }

  &--homepage {
    padding-bottom: 0;
  }

  &--v2 {
    padding: 16rem 0;
    @include m.flex-center;

    #{$hero}__bg-image {
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        background: linear-gradient(
          0deg,
          rgb(var(--primary), 0.7) 0%,
          rgb(var(--primary)) 100%
        );
        opacity: 0.75;
      }
    }

    #{$hero}__title {
      margin-bottom: var(--sp-xsm);
      @include m.title(rgb(var(--secondary)), 4rem, 6.2vw, 6.4rem, null, 1);
    }

    #{$hero}__subtitle {
      margin-bottom: var(--sp-xsm);
      font-family: var(--font-sans);
      color: rgb(var(--secondary-light));
    }
  }

  &--v3 {
    padding: 16rem 0;
    @include m.flex-center;

    #{$hero}__bg-image {
      &::after {
        background: linear-gradient(
          360deg,
          rgb(var(--primary-dark)) 0%,
          rgb(var(--primary)) 100%
        );
      }
    }

    #{$hero}__content {
      width: 100%;
      max-width: 100%;
      padding: 0;
    }

    .content-box {
      width: 100%;
      background-color: rgba(var(--primary), 0.75);

      &__title {
        @include m.title(rgb(var(--secondary)), 4rem, 6.2vw, 8rem, null, 1);
      }

      &__subtitle {
        color: rgb(var(--secondary-light));
        font-family: var(--font-sans);
        font-size: 2rem;
      }
    }
  }

  &--v4 {
    #{$hero}__wrapper {
      @media (min-width: v.$tablet) {
        flex-direction: row-reverse;
      }
    }

    #{$hero}__content {
      padding: 0;
    }

    .content-box {
      background-color: transparent;

      &__inner {
        padding: 0;
        align-items: flex-start;
      }

      &__main {
        padding-left: var(--sp-sm);
        border-left: 5px solid rgb(var(--tertiary));
      }

      &__title {
        margin-bottom: var(--sp-xsm);
        @include m.title(rgb(var(--secondary)), 4rem, 6.2vw, 7rem, null, 1);
      }

      &__subtitle {
        color: rgb(var(--secondary-light));
        font-family: var(--font-sans);
      }

      &__btn {
        flex-wrap: wrap;
        justify-content: flex-start;

        &::after,
        &::before {
          content: none;
        }
      }
    }
  }

  &--v5 {
    padding: 38rem 0 6.5rem;
    @include m.flex-center;

    #{$hero}__bg-image {
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        background: linear-gradient(
          360deg,
          rgba(var(--primary), 0) 50%,
          rgba(var(--primary), 0.8) 75%,
          rgb(var(--primary)) 100%
        );
      }
      &::after {
        content: "";
        width: 100%;
        height: 60%;
        position: absolute;
        top: unset;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        background: linear-gradient(
          180deg,
          rgba(var(--primary), 0) 0%,
          rgba(var(--primary), 0.5) 25%,
          rgb(var(--primary)) 100%
        );
      }
    }

    #{$hero}__content {
      width: 100%;
      max-width: 100%;
      padding: 0;
    }

    #{$hero}__title {
      margin-bottom: var(--sp-xsm);
      @include m.title(rgb(var(--secondary)), 4rem, 6.2vw, 8rem, null, 1);
    }

    #{$hero}__subtitle {
      max-width: 700px;
      margin-bottom: var(--sp-xsm);
      font-family: var(--font-sans);
      color: rgb(var(--secondary-light));
    }
  }

  &--v6 {
    #{$hero}__content {
      padding: 0;
    }

    .content-box {
      background-color: transparent;

      &__inner {
        padding: 0;
        align-items: flex-start;
        gap: var(--sp-xsm);
        text-align: center;

        @media (min-width: v.$tablet) {
          text-align: left;
        }
      }

      &__main {
        margin-bottom: var(--sp-xsm);
        padding-block: var(--sp-sm);
        position: relative;

        &::after,
        &::before {
          content: "";
          width: 100%;
          height: 1px;
          position: absolute;
          z-index: -1;
          display: block;
          background-color: rgb(var(--tertiary));

          @media (min-width: v.$tablet) {
            width: 150%;
          }
        }

        &::before {
          top: 0;
          left: 0;
        }

        &::after {
          bottom: 0;
          left: 0;
        }
      }

      &__title {
        margin-bottom: var(--sp-xsm);
        @include m.title(rgb(var(--secondary)), 4rem, 6.2vw, 4.8rem, null, 1);
      }

      &__subtitle {
        color: rgb(var(--secondary-light));
        font-size: 2rem;
        font-family: var(--font-sans);
      }

      &__btn {
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width: v.$tablet) {
          justify-content: flex-start;
        }

        &::after,
        &::before {
          content: none;
        }
      }
    }
  }
}
