@use "../globals/variables" as v;
@use "../globals/mixins" as m;

.testimonial-card {
  height: auto;

  $card: &;

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(var(--secondary-light));
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.05);
    transition: 0.4s ease;
  }

  &__inner {
    width: 100%;
    padding: var(--sp-sm);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: var(--sp-xsm);
    transition: padding 0.4s ease;
  }

  &__header {
    width: 100%;
    padding-bottom: var(--sp-xsm);
    position: relative;
    @include m.flex-center;
    justify-content: flex-start;

    &::after {
      content: "";
      width: 4.8rem;
      height: 1px;
      position: absolute;
      top: 100%;
      left: 0;
      display: block;
      background-color: rgb(var(--tertiary));
    }
  }

  &__pic {
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 2;
    display: block;
    object-fit: contain;
    object-position: center center;
    border-radius: 50%;
  }

  &__src {
    width: 56px;
    height: 56px;
    margin-left: -12px;
    position: relative;
    z-index: 0;
    @include m.flex-center;
    background-color: rgb(var(--primary));
    border-radius: 50%;

    svg {
      width: 24px;
      height: 24px;
      display: block;
      path {
        fill: rgb(var(--tertiary));
      }
    }
  }

  &__quote {
    margin-left: auto;
    @include m.flex-center;
    svg {
      width: 60px;
      height: 54px;
      position: relative;

      path {
        fill: rgb(var(--secondary-dark));
        transition: 0.3s ease-in-out;
      }
    }
  }

  &__stars {
    svg {
      width: 24px;
      height: 22.5px;
      path {
        fill: #dfc874;
      }
    }
  }

  &__content {
    flex: 0 0 100%;
    text-align: left;
    color: rgb(var(--text-color));
    font-weight: 400;
    transition: 0.4s ease-out 0.4s;

    @media (min-width: v.$tablet) {
      transition-delay: 1s;
    }
  }

  &__author {
    width: 100%;
    display: block;
    text-align: left;
    color: rgb(var(--text-color));
    font-family: var(--font-sans);
    font-size: 1.6rem;
    font-weight: 700;
    span {
      display: block;
      font-weight: 400;
    }
  }

  &:hover {
    #{$card}__quote {
      svg path {
        fill: rgb(var(--tertiary));
      }
    }
  }
}
