@use "../../styles/globals/variables" as v;
@use "../../styles/globals/mixins" as m;

.content-intro {
  padding-block: var(--sp-sm);

  @media (min-width: v.$tablet) {
    padding-block: var(--sp-md);
  }

  $parent: &;

  &:not(:has(#{$parent}__separator + *)),
  &:not(.bg-bicolor) {
    #{$parent}__inner {
      display: block;
      border: 1px solid rgb(var(--tertiary));
    }

    #{$parent}__content {
      padding: var(--sp-xsm);
    }
  }

  &:not(.bg-bicolor) {
    #{$parent}__content {
      & > * {
        color: rgb(var(--secondary));
      }
    }
  }

  &__inner,
  &__heading {
    @include m.flex-center;
    flex-direction: column;
  }

  &__inner {
    gap: var(--sp-md);
  }

  &__heading {
    width: 100%;
    padding: var(--sp-xsm);
    gap: var(--sp-xsm);
  }

  &__title {
    @include m.title(null, 4rem, 3.3vw, 4rem);
  }

  &__pic-wrapper {
    max-width: 100%;
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 0px 0px 20px 0px;
    display: inline-block;
    contain: content;
    float: none;

    @media (min-width: v.$tablet) {
      min-width: 465px;
      width: 40%;
      margin: 5px 20px 20px 0px;

      &--left {
        float: left;
      }

      &--right {
        float: right;
        margin: 5px 0px 20px 20px;
      }

      &--above,
      &--below {
        width: 100%;
        display: block;
      }
    }
  }

  &__pic {
    width: 100%;
    height: fit-content;
    position: relative;
    z-index: 0;

    img {
      width: 100%;
      height: auto;
      margin: 0;

      @media (min-width: v.$tablet) {
        min-height: 50rem;
        object-fit: cover;
      }
    }
  }

  &__caption {
    max-width: 56rem;
    width: 90%;
    padding: var(--sp-xsm);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: var(--sp-xsm);
    background: rgb(var(--primary));
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.05);

    @media (min-width: v.$tablet) {
      padding: var(--sp-sm);
      bottom: 4rem;
    }

    svg {
      min-width: 65px;
      width: auto;
      max-width: 100%;
      height: 60px;
    }

    p {
      margin: 0;
      text-align: left;
      @include m.title(rgb(var(--secondary)), 2.4rem, 3.3vw, 3.2rem);
    }
  }

  &__content {
    display: inline-block;
    text-align: center;

    @media (min-width: v.$tablet) {
      text-align: left;

      & > *:nth-child(2) {
        margin-top: var(--sp-xsm);
      }
    }

    blockquote {
      max-width: 100%;
      min-width: 280px;
      padding: var(--sp-sm);
      position: relative;
      background: rgb(var(--secondary-light));
      @include m.flex-center;

      & > * {
        margin: 0;
        position: relative;
        z-index: 1;
        @include m.title(rgb(var(--tertiary-dark)), 2.4rem, 3.3vw, 3.6rem);
      }

      &::before {
        content: "";
        width: calc(100% - var(--sp-sm));
        height: calc(100% - var(--sp-sm));
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        display: block;
        border: 1px solid rgb(var(--tertiary));
      }
    }
  }
}
